body {
    text-align: center;
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}

h1 {
    margin: 100px auto 0;
    font-size: 6rem;
    color: #66BFBF;
}

h3 {
    font-family: 'Noto Sans', sans-serif;
    color: #11999E;
}

h2 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
}

p {
    color: #40514E;
    font-size: 1.4rem;
}

.footer-link {
    color: #11999E;
    margin: 30px 10px 30px;
    position: relative;
    top: 30px;
    text-decoration: none;
}

.footer-link:hover {
    color: #EAF6F6;
}

.top-container {
    background-color: #E4F9F5;
    padding-top: 230px;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
}

.middle-container {
    margin: 100px auto 0;
}

.bottom-container {
    background-color: #66BFBF;
    height: 150px;
}

.bottom_cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.top_cloud {
    position: absolute;
    right: 300px;
    top: 250px;
}

.skills-img {
    width: 25%;
}

.snake-img {
    float: left;
    margin-right: 30px;
}

.tongue {
    float: right;
    margin-left: 30px;
}

.my_image {
    height: 300px;
    width: 300px;
}

.skill-row {
    width: 50%;
    margin: 100px auto;
    line-height: 2;
    text-align: left;
}

.intro {
    width: 50%;
    margin: auto;
}

.separator {
    width: 15%;
    border-style: none;
    border-top-style: dotted;
    border-width: 15px;
    border-color: #EAF6F6;
    margin-top: 80px;
    margin-bottom: 80px;
}

.contact-me {
    padding-bottom: 50px;
}

.ending_name {
    margin: 0;
    color: #EAF6F6;
    position: relative;
    top: 60px;
    font-size: 0.6rem;
}

.BUTTON_KNK {
    margin-top: 30px;
   background: #66BFBF;
   background-image: -webkit-linear-gradient(top, #66BFBF, #66BFBF);
   background-image: -moz-linear-gradient(top, #66BFBF, #66BFBF);
   background-image: -ms-linear-gradient(top, #66BFBF, #66BFBF);
   background-image: -o-linear-gradient(top, #66BFBF, #66BFBF);
   background-image: -webkit-gradient(to bottom, #66BFBF, #66BFBF);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #FFFFFF;
   font-family: 'Noto Sans', sans-serif;
   font-size: 20px;
   font-weight: 100;
   padding: 20px;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.BUTTON_KNK:hover {
   border: solid #337FED 1px;
   background: #66BFBF;
   background-image: -webkit-linear-gradient(top, #66BFBF, #66BFBF);
   background-image: -moz-linear-gradient(top, #66BFBF, #66BFBF);
   background-image: -ms-linear-gradient(top, #66BFBF, #66BFBF);
   background-image: -o-linear-gradient(top, #66BFBF, #66BFBF);
   background-image: -webkit-gradient(to bottom, #66BFBF, #66BFBF);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}

.contact-message {
    width: 40%;
    margin: auto;
}
